footer{
  background-color: rgb(55, 195, 255);
}
svg{
  height: 3rem;
  width: 3rem;
  padding-right: 20px;
}
p{
  font-size: 1.1rem;
}
span{
  font-size: 0.9rem;
  justify-content: center;
  display: flex;
}

